<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('办事处及人员列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>办事处：</label>
                                <input type="text" name="officeAddress"/>
                            </li>
                            <li>
                                <label>员工编号：</label>
                                <input type="text" name="officeStaffName"/>
                            </li>
                            <li>
                                <label>毕业院校：</label>
                                <input type="text" name="school"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="busi:staff:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="busi:staff:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="busi:staff:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:staff:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi:staff:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi:staff:remove')}]];
        var educationDatas = [[${@dict.getType('education_status')}]];
        var prefix = ctx + "busi/staff";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "办事处及人员",
                columns: [{
                    radio: true
                },
                {
                    field: 'officeStaffId',
                    title: '员工编号',
                    visible: false
                },
                {
                    field: 'officeAddress',
                    title: '办事处'
                },
                {
                    field: 'officeStaffName',
                    title: '员工姓名'
                },
                {
                    field: 'position',
                    title: '职位'
                },
                {
                    title: '出生年月',
                    formatter: function(value, row, index) {
                        return row.birth.substring(0,10);
                    }
                },
                {
                    field: 'school',
                    title: '毕业院校'
                },
                {
                    field: 'major',
                    title: '专业'
                },
                {
                    field: 'residence',
                    title: '居住地'
                },
                {
                    field: 'information',
                    title: '联系方式'
                },
                {
                    field: 'mail',
                    title: '邮箱'
                },
                {
                    field: 'education',
                    title: '学历',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(educationDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.officeStaffId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.officeStaffId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });


        function submitHandler() {
            var rows = $.table.selectFirstColumns();
            var officeAddress = $.table.selectColumns('officeAddress');
            var officeStaffName = $.table.selectColumns('officeStaffName');
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
            $.modal.close();
            parent.$('#officeAddress').val(officeAddress);
            parent.$('#officeStaffName').val(officeStaffName);
            parent.$('#staffId').val(rows);
        }
    </script>
</body>
</html>
