<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('业务费用结算列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>合同号：</label>
                                <input type="text" name="contractNo"/>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="busi:settlement:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="busi:settlement:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="busi:settlement:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:settlement:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi:settlement:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi:settlement:remove')}]];
        var prefix = ctx + "busi/settlement";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "业务费用结算",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'settlementId',
                    title: '',
                    visible: false
                },
                {
                    field: 'contractNo',
                    title: '合同号'
                },
                {
                    field: 'quotationNo',
                    title: '报价单号'
                },
                {
                    field: 'officeAddress',
                    title: '办事处'
                },
                {
                    field: 'officeStaffName',
                    title: '办事处'
                },
                {
                    field: 'businessCommission',
                    title: '应付业务费合计/元'
                },
                {
                    field: 'settlementBusinessFee',
                    title: '已结算业务费'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.settlementId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.settlementId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-primary btn-xs btn-right' + removeFlag + '" href="javascript:void(0)" onclick="toHistory(\'' + row.settlementId + '\')"><i class="fa fa-eye"></i>查看业务费用明细</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function toHistory(settlementId){
            $.modal.open("查看业务费用结算明细", ctx + "busi/history?settlementId="+settlementId);

        }


    </script>
</body>
</html>
