<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('合同进度列表')" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
         <form id="formId">
             <div class="select-list">
                 <input name="contractId" id="contractId" th:value="${contractId}" type="hidden">
             </div>
         </form>

        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
     <th:block th:include="include :: bootstrap-table-editable-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi.plan:plan:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi.plan:plan:remove')}]];
        var prefix = ctx + "busi.plan/plan";

        $(function() {
            var options = {
                url: prefix + "/listNotNull",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "合同进度",
                pageSize: 30,
                showToggle: false,
                showColumns: false,
                pagination: false,
                search: false,
                onEditableSave: onEditableSave,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'planId',
                    title: '',
                    visible: false
                },
                {
                    title: '序号',
                    formatter: function(value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'planName',
                    title: '步骤名'
                },
                {
                    field: 'plannedTime',
                    title: '计划完成时间',
                    editable: {
                        type: 'date',
                        title: '计划完成时间',
                        placement: 'left'
                    },
                },
                {
                    field: 'actualTime',
                    title: '实际完成时间',
                    editable: {
                        type: 'date',
                        title: '实际完成时间',
                        placement: 'left'
                    },
                },
                {
                    title: '是否延期',
                    formatter: function(value, row, index) {
                        if (row.actualTime && row.plannedTime ){
                            var flag = compareDate(row.actualTime,row.plannedTime);
                            if (!flag){
                                return "<small style='color: red'>已延期</small>";
                            }
                        }
                        return "<small style='color: #007aff'>未延期</small>";
                    }
                },

                ]
            };
            $.table.init(options);
        });


        function onEditableSave (field, row, rowIndex, oldValue, $el) {
            var fieldName = field.toString();
            var dateFrom = {};
            dateFrom["planId"]=row.planId;
            dateFrom[fieldName]=row[field];
            dateFrom["contractId"]=row.contractId;
            $.ajax({
                url: prefix + "/edit",
                data: JSON.stringify(dateFrom),
                type: "post",
                processData: false,
                contentType: "application/json",
                success: function(result) {

                }
            });
        }




        function compareDate(logintime, logouttime) {
            var arys1 = new Array();
            var arys2 = new Array();
            if (logintime != null && logouttime != null) {
                arys1 = logintime.split('-');
                var logindate = new Date(arys1[0], parseInt(arys1[1] - 1), arys1[2]);
                arys2 = logouttime.split('-');
                var logoutdate = new Date(arys2[0], parseInt(arys2[1] - 1), arys2[2]);
                if (logindate > logoutdate) {
                    return false;
                } else {
                    return true;
                }
            }
        }

        function submitHandler() {
            $.modal.close();
        }


    </script>
</body>
</html>
