<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('合同管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse" style="display: none">
                <form id="formId">
                    <input name="contractId" id="contractId" th:value="${contractId}" type="hidden">
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi:contract:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi:contract:remove')}]];
        var prefix = ctx + "busi/contract";
        var contractTypeDatas = [[${@dict.getType('project_status')}]];
        $(function() {
            var options = {
                url: prefix + "/historyList",
                modalName: "合同管理",
                showToggle: false,
                showColumns: false,
                pagination: false,
                search: false,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'contractId',
                    title: '',
                    visible: false
                },
                {
                    field: 'contractNo',
                    title: '合同号'
                },
                {
                    field: 'busiQuotation.customerName',
                    title: '客户名称'
                },
                {
                    field: 'busiQuotation.projectName',
                    title: '项目名称'
                },
                {
                    field: 'busiQuotation.officeAddress',
                    title: '办事处'
                },
                {
                    field: 'busiQuotation.officeStaffName',
                    title: '业务员'
                },
                {
                    field: 'productComposition',
                    title: '产品组成'
                },
                {
                    title: '签约时间',
                    formatter: function(value, row, index) {
                        return row.signingDate.substring(0,10);
                    }
                },
                {
                    title: '交货时间',
                    formatter: function(value, row, index) {
                        return row.deliveryTime.substring(0,10);
                    }
                },
                {
                    field: 'busiQuotation.sumPrice',
                    title: '报价金额'
                },
                {
                    field: 'contractPrice',
                    title: '合同金额'
                },
                {
                    title: '折扣率',
                    formatter: function(value, row, index) {
                        var number = row.contractPrice / row.busiQuotation.sumPrice;
                        return number.toFixed(2)
                    }
                },
                {
                    field: 'progressStatement',
                    title: '整体进度说明'
                },
                {
                    field: 'principal',
                    title: '负责人'
                },
                {
                    field: 'delayWarning',
                    title: '延期警告'
                },
                {
                    field: 'delayInstructions',
                    title: '延期说明'
                },
                {
                    field: 'contractType',
                    title: '项目状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(contractTypeDatas, value);
                    }
                },
                {
                    field: 'updateTime',
                    title: '更进时间'
                }]
            };
            $.table.init(options);
        });


        function viewPlan(contractId){
            $.modal.openFull("查看合同进度",ctx+"busi.plan/plan/contract?contractId="+contractId);
        }

        function complete(contractId,type){
            debugger;
            var dateFrom = {"contractId":contractId,"contractType":type}
            $.ajax({
                url: prefix + "/editForType",
                data: JSON.stringify(dateFrom),
                type: "post",
                processData: false,
                contentType: "application/json",
                success: function(result) {
                    $.table.refresh();
                }
            });
        }


    </script>
</body>
</html>
