<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.parts.mapper.BusiPartsDetailsMapper">

    <resultMap type="BusiPartsDetails" id="BusiPartsDetailsResult">
        <result property="detailsId"    column="details_id"    />
        <result property="quotationId"    column="quotation_id"    />
        <result property="equipmentNum"    column="equipment_num"    />
        <result property="productLineName"    column="productLineName"    />
        <result property="productLineId"    column="product_line_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="parameterId"    column="parameter_id"    />
        <result property="number"    column="number"    />
        <result property="detailsPrice"    column="details_price"    />
        <result property="modelName"    column="modelName"    />
        <result property="parameterName"    column="parameterName"    />

        <result property="coefficient"    column="coefficient"    />
        <result property="materialId"    column="material_id"    />
        <result property="materialSupplierId"    column="material_supplier_id"    />
        <result property="materialSupplierName"    column="material_supplier_name"    />
        <result property="materialName"    column="material_name"    />

        <association property="partsCost" javaType="com.ruoyi.busi.cost.domain.BusiPartsCost">
            <result property="costId"    column="cost_id"    />
            <result property="costPrice"    column="cost_price"    />
            <result property="actualPrice"    column="actual_price"    />
            <result property="quotationAmount"    column="quotation_amount"    />
            <result property="profit"    column="profit"    />
            <result property="actualProfit"    column="actual_profit"    />
            <result property="quotationId"    column="quotation_id"    />
        </association>
    </resultMap>

    <sql id="selectBusiPartsDetailsVo">
        select details_id, quotation_id, equipment_num, product_line_id, model_id, parameter_id, details_price,number from busi_parts_details
    </sql>

    <select id="selectBusiPartsDetailsList" parameterType="BusiPartsDetails" resultMap="BusiPartsDetailsResult">
            SELECT * ,
            product_line_id,
            (SELECT product_line_name FROM busi_product_line bpl WHERE bpl.product_line_id = bpd.product_line_id) AS productLineName ,
            model_id,
            (SELECT model_name FROM busi_product_model bpm WHERE bpm.model_id = bpd.model_id) AS modelName ,
            (SELECT bpp.`item_number` FROM `busi_product_parameter` bpp WHERE bpp.`parameter_id` = bpd.`parameter_id`) AS parameterName,
            (SELECT bt.texture_name FROM busi_material_production bmp
            LEFT JOIN  busi_texture bt ON bmp.`texture_id` = bt.texture_id
            WHERE bmp.material_id = bpd.material_id) AS material_name ,
            bpc.*
            FROM `busi_parts_details` bpd INNER JOIN busi_parts_cost bpc ON bpd.`quotation_id` = bpc.`quotation_id`
        <where>
            bpd.quotation_id = #{quotationId}
        </where>
    </select>

    <select id="selectBusiPartsDetailsById" parameterType="Long" resultMap="BusiPartsDetailsResult">
        <include refid="selectBusiPartsDetailsVo"/>
        where details_id = #{detailsId}
    </select>

    <select id="selectBusiPartsDetailsByQuotationId" parameterType="Long" resultMap="BusiPartsDetailsResult">
        <include refid="selectBusiPartsDetailsVo"/>
        where quotation_id = #{quotationId}
    </select>

    <insert id="insertBusiPartsDetails" parameterType="BusiPartsDetails" useGeneratedKeys="true" keyProperty="detailsId">
        insert into busi_parts_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="quotationId != null">quotation_id,</if>
            <if test="equipmentNum != null and equipmentNum != ''">equipment_num,</if>
            <if test="productLineId != null">product_line_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="parameterId != null">parameter_id,</if>
            <if test="number != null">number,</if>
            <if test="detailsPrice != null">details_price,</if>
            <if test="coefficient != null">coefficient,</if>
            <if test="materialId != null">material_id,</if>
            <if test="materialSupplierId != null">material_supplier_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="quotationId != null">#{quotationId},</if>
            <if test="equipmentNum != null and equipmentNum != ''">#{equipmentNum},</if>
            <if test="productLineId != null">#{productLineId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="parameterId != null">#{parameterId},</if>
            <if test="number != null">#{number},</if>
            <if test="detailsPrice != null">#{detailsPrice},</if>
            <if test="coefficient != null">#{coefficient},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="materialSupplierId != null">#{materialSupplierId},</if>
         </trim>
    </insert>

    <update id="updateBusiPartsDetails" parameterType="BusiPartsDetails">
        update busi_parts_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="quotationId != null">quotation_id = #{quotationId},</if>
            <if test="equipmentNum != null and equipmentNum != ''">equipment_num = #{equipmentNum},</if>
            <if test="productLineId != null">product_line_id = #{productLineId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="parameterId != null">parameter_id = #{parameterId},</if>
            <if test="number != null">number = #{number},</if>
        </trim>
        where details_id = #{detailsId}
    </update>

    <delete id="deleteBusiPartsDetailsById" parameterType="Long">
        delete from busi_parts_details where details_id = #{detailsId}
    </delete>


    <select id="selectPartsPriceDetailsByQuotationNo" parameterType="java.lang.String" resultType="java.util.Map">
            SELECT bpd.details_price as detailsrice  ,bc.contract_price as contractPrice FROM busi_parts_details bpd LEFT JOIN busi_contract bc ON bpd.`quotation_id` = bc.`qutation_id`
            WHERE bc.contract_no = #{contractNo}
    </select>


    <delete id="deleteBusiPartsDetailsByIds" parameterType="String">
        delete from busi_parts_details where details_id in
        <foreach item="detailsId" collection="array" open="(" separator="," close=")">
            #{detailsId}
        </foreach>
    </delete>

</mapper>
