<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('业绩管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <!--<form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:performance:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
               <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="busi:performance:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="busi:performance:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="busi:performance:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
                <table id="bootstrap-table-office"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi:performance:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi:performance:remove')}]];
        var prefix = ctx + "busi/performance";

        $(function() {
            var options = {
                url: prefix + "/list",
                exportUrl: prefix + "/export",
                pageSize: 30,
                modalName: "业绩管理",
                columns: [
                {
                    field: 'performanceId',
                    title: '',
                    visible: false
                },
                {
                    field: 'officeAddress',
                    title: '办事处'
                },
                {
                    field: 'officeStaffName',
                    title: '业务员'
                },
                {
                    field: 'quotationCount',
                    title: '报价数量',
                },

                {
                    title: '报价金额',
                    formatter: function(value, row, index) {
                        var number  = row.quotationPrice;
                        if (number){
                            return number.toFixed(2);
                        }else{
                            return  0;
                        }
                    }
                },
                {
                    field: 'contractCount',
                    title: '合同数量'
                },
                {
                    field: 'contractPrice',
                    title: '合同金额'
                },
                {
                    title: '回款金额',
                    formatter: function(value, row, index) {
                        var number  = row.repaymentAmount;
                        if (number){
                            return number.toFixed(2);
                        }else{
                            return  0;
                        }
                    }
                },
                /*{
                    title: '签约金额',
                    formatter: function(value, row, index) {
                        var number  = row.singQuotationPrice;
                        if (number){
                            return number.toFixed(2);
                        }else{
                            return  0;
                        }
                    }
                },*/

                {
                    title: '报价签约率',
                    formatter: function(value, row, index) {
                        var number  = row.contractPrice/row.quotationPrice;
                        if (number){
                            return number.toFixed(2);
                        }else{
                            return  0;
                        }
                    }
                },
                {
                    title: '回款率',
                    formatter: function(value, row, index) {
                        if (row.singQuotationPrice){
                            var number  = row.singQuotationPrice/row.contractPrice;
                            return number.toFixed(2);
                        }else{
                            return  0;
                        }
                    }
                }]
            };
            $.table.init(options);


            var options = {
                id: "bootstrap-table-office",
                url: prefix + "/officeList",
                exportUrl: prefix + "/export",
                pageSize: 30,
                modalName: "业绩管理",
                pagination: false,
                columns: [
                    {
                        field: 'officeAddress',
                        title: '办事处'
                    },
                    {
                        field: 'peopleCount',
                        title: '总人数'
                    },
                    {
                        field: 'quotationCount',
                        title: '总报价数量'
                    },
                    {
                        title: '平均报价金额',
                        formatter: function(value, row, index) {
                            var number  = row.quotationPrice;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        field: 'contractCount',
                        title: '总合同数量'
                    },

                    {
                        field: 'contractPrice',
                        title: '总合同金额',
                        formatter: function(value, row, index) {
                            var number  = row.allContractPrice;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        field: 'contractPrice',
                        title: '平均合同金额',
                        formatter: function(value, row, index) {
                            var number  = row.contractPrice;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        field: 'repaymentAmount',
                        title: '总回款金额',
                        formatter: function(value, row, index) {
                            var number  = row.allRepaymentAmount;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        field: 'repaymentAmount',
                        title: '平均回款金额',
                        formatter: function(value, row, index) {
                            var number  = row.repaymentAmount;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        title: '回款率',
                        formatter: function(value, row, index) {
                            var number  = row.avgRepaymentRatio;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },

                    {
                        title: '总回款率',
                        formatter: function(value, row, index) {
                            var number  = row.repaymentRatio;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },
                    {
                        title: '签约率',
                        formatter: function(value, row, index) {
                            var number  = row.avgSingQuotationRatio;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    },

                    {
                        title: '总签约率',
                        formatter: function(value, row, index) {
                            var number  = row.singQuotationRatio;
                            if (number){
                                return number.toFixed(2);
                            }else{
                                return  0;
                            }
                        }
                    }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
