<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiPriceDetailsMapper">

    <resultMap type="BusiPriceDetails" id="BusiPriceDetailsResult">
        <result property="priceDetailsId"    column="price_details_id"    />
        <result property="bengtouclCb"    column="bengtoucl_cb"    />
        <result property="actualBengtouclCb"    column="actual_bengtoucl_cb"    />
        <result property="bengtouRgCb"    column="bengtou_rg_cb"    />
        <result property="bengtouFyCb"    column="bengtou_fy_cb"    />
        <result property="actualBengtouRgCb"    column="actual_bengtou_rg_cb"    />
        <result property="motorCb"    column="motor_cb"    />
        <result property="actualBengtouFyCb"    column="actual_bengtou_fy_cb"    />
        <result property="jfCb"    column="jf_cb"    />
        <result property="zcCb"    column="zc_cb"    />
        <result property="zlqCb"    column="zlq_cb"    />
        <result property="actualMotorCb"    column="actual_motor_cb"    />
        <result property="ewCb"    column="ew_cb"    />
        <result property="quotationId"    column="quotation_id"    />
        <result property="actualJfCb"    column="actual_jf_cb"    />
        <result property="actualZcCb"    column="actual_zc_cb"    />
        <result property="actualZlqCb"    column="actual_zlq_cb"    />
        <result property="actualEwCb"    column="actual_ew_cb"    />
        <result property="contractPrice"    column="contractPrice"    />
        <result property="actualContractprice"    column="actual_contractPrice"    />
        <result property="profit"    column="profit"    />
        <result property="actualProfit"    column="actual_profit"    />
        <result property="actualBengtouCb"    column="actualBengtouCb"    />
        <result property="actualWghj"    column="actualWghj"    />
        <result property="rinseCose"    column="rinse_cose"    />
    </resultMap>

    <sql id="selectBusiPriceDetailsVo">
        select price_details_id, bengtoucl_cb, bengtou_rg_cb, bengtou_fy_cb, motor_cb, jf_cb, zc_cb, zlq_cb, ew_cb,actualBengtouCb, actualWghj,quotation_id,contractPrice from busi_price_details
    </sql>

    <select id="selectBusiPriceDetailsList" parameterType="BusiPriceDetails" resultMap="BusiPriceDetailsResult">
        <include refid="selectBusiPriceDetailsVo"/>
        <where>
            <if test="bengtouclCb != null "> and bengtoucl_cb = #{bengtouclCb}</if>
            <if test="bengtouRgCb != null "> and bengtou_rg_cb = #{bengtouRgCb}</if>
            <if test="bengtouFyCb != null "> and bengtou_fy_cb = #{bengtouFyCb}</if>
            <if test="motorCb != null "> and motor_cb = #{motorCb}</if>
            <if test="jfCb != null "> and jf_cb = #{jfCb}</if>
            <if test="zcCb != null "> and zc_cb = #{zcCb}</if>
            <if test="zlqCb != null "> and zlq_cb = #{zlqCb}</if>
            <if test="ewCb != null "> and ew_cb = #{ewCb}</if>
            <if test="quotationId != null "> and quotation_id = #{quotationId}</if>
            <if test="contractPrice != null "> and contractPrice = #{contractPrice}</if>
            <if test="actualBengtouCb != null "> and actualBengtouCb = #{contractPrice}</if>
        </where>
    </select>

    <select id="selectBusiPriceDetailsByQuotationNo" parameterType="String" resultMap="BusiPriceDetailsResult">
     select bpd.* from
        busi_price_details bpd  INNER JOIN busi_quotation bq ON bpd.quotation_id = bq.quotation_id
          WHERE bq.quotation_no = #{quotationNo};
    </select>


    <select id="selectoutsourcingPriceDetailsByQuotationNo" parameterType="Long" resultType="java.util.Map">
             SELECT SUM((SELECT bo.outsourcing_price * bob.`number` FROM busi_outsourcing bo WHERE bo.outsourcing_id = bob.model_id)) AS outsourcingPrice,
                SUM((SELECT bm.price*bob.`number` FROM busi_motor bm WHERE bm.motor_id = bob.motor_id)) AS motorPrice,
                SUM(bob.`other_motor_price` * bob.`number` )  AS otherMotorPrice,
                 SUM(bob.details_price * bob.number * bob.`coefficient`) AS quotationAmount,
                 SUM(bob.all_cost * bob.number) AS allCost
                FROM busi_outsourcing_details bob
                where bob.quotation_id =#{quotation_id}
    </select>







    <select id="selectBusiPriceDetailsById" parameterType="Long" resultMap="BusiPriceDetailsResult">
        <include refid="selectBusiPriceDetailsVo"/>
        where quotation_id = #{quotationId}
    </select>

    <insert id="insertBusiPriceDetails" parameterType="BusiPriceDetails" useGeneratedKeys="true" keyProperty="priceDetailsId">
        insert into busi_price_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bengtouclCb != null">bengtoucl_cb,</if>
            <if test="actualBengtouclCb != null">actual_bengtoucl_cb,</if>
            <if test="bengtouRgCb != null">bengtou_rg_cb,</if>
            <if test="bengtouFyCb != null">bengtou_fy_cb,</if>
            <if test="actualBengtouRgCb != null">actual_bengtou_rg_cb,</if>
            <if test="motorCb != null">motor_cb,</if>
            <if test="actualBengtouFyCb != null">actual_bengtou_fy_cb,</if>
            <if test="jfCb != null">jf_cb,</if>
            <if test="zcCb != null">zc_cb,</if>
            <if test="zlqCb != null">zlq_cb,</if>
            <if test="actualMotorCb != null">actual_motor_cb,</if>
            <if test="ewCb != null">ew_cb,</if>
            <if test="quotationId != null">quotation_id,</if>
            <if test="actualJfCb != null">actual_jf_cb,</if>
            <if test="actualZcCb != null">actual_zc_cb,</if>
            <if test="actualZlqCb != null">actual_zlq_cb,</if>
            <if test="actualEwCb != null">actual_ew_cb,</if>
            <if test="contractPrice != null">contractPrice,</if>
            <if test="actualContractprice != null">actual_contractPrice,</if>
            <if test="profit != null">profit,</if>
            <if test="actualProfit != null">actual_profit,</if>
            <if test="actualBengtouCb != null">actualBengtouCb,</if>
            <if test="sumPrice != null">sumPrice</if>
            <if test="rinseCose != null">rinse_cose</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bengtouclCb != null">#{bengtouclCb},</if>
            <if test="actualBengtouclCb != null">#{actualBengtouclCb},</if>
            <if test="bengtouRgCb != null">#{bengtouRgCb},</if>
            <if test="bengtouFyCb != null">#{bengtouFyCb},</if>
            <if test="actualBengtouRgCb != null">#{actualBengtouRgCb},</if>
            <if test="motorCb != null">#{motorCb},</if>
            <if test="actualBengtouFyCb != null">#{actualBengtouFyCb},</if>
            <if test="jfCb != null">#{jfCb},</if>
            <if test="zcCb != null">#{zcCb},</if>
            <if test="zlqCb != null">#{zlqCb},</if>
            <if test="actualMotorCb != null">#{actualMotorCb},</if>
            <if test="ewCb != null">#{ewCb},</if>
            <if test="quotationId != null">#{quotationId},</if>
            <if test="actualJfCb != null">#{actualJfCb},</if>
            <if test="actualZcCb != null">#{actualZcCb},</if>
            <if test="actualZlqCb != null">#{actualZlqCb},</if>
            <if test="actualEwCb != null">#{actualEwCb},</if>
            <if test="contractPrice != null">#{contractPrice},</if>
            <if test="actualContractprice != null">#{actualContractprice},</if>
            <if test="profit != null">#{profit},</if>
            <if test="actualProfit != null">#{actualProfit},</if>
            <if test="actualBengtouCb != null">#{actualBengtouCb},</if>
            <if test="sumPrice != null">#{sumPrice}</if>
            <if test="rinseCose != null">#{rinseCose}</if>
        </trim>
    </insert>

    <update id="updateBusiPriceDetails" parameterType="BusiPriceDetails">
        update busi_price_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="bengtouclCb != null">bengtoucl_cb = #{bengtouclCb},</if>
            <if test="actualBengtouclCb != null">actual_bengtoucl_cb = #{actualBengtouclCb},</if>
            <if test="bengtouRgCb != null">bengtou_rg_cb = #{bengtouRgCb},</if>
            <if test="bengtouFyCb != null">bengtou_fy_cb = #{bengtouFyCb},</if>
            <if test="actualBengtouRgCb != null">actual_bengtou_rg_cb = #{actualBengtouRgCb},</if>
            <if test="motorCb != null">motor_cb = #{motorCb},</if>
            <if test="actualBengtouFyCb != null">actual_bengtou_fy_cb = #{actualBengtouFyCb},</if>
            <if test="jfCb != null">jf_cb = #{jfCb},</if>
            <if test="zcCb != null">zc_cb = #{zcCb},</if>
            <if test="zlqCb != null">zlq_cb = #{zlqCb},</if>
            <if test="actualMotorCb != null">actual_motor_cb = #{actualMotorCb},</if>
            <if test="ewCb != null">ew_cb = #{ewCb},</if>
            <!--<if test="quotationId != null">quotation_id = #{quotationId},</if>-->
            <if test="actualJfCb != null">actual_jf_cb = #{actualJfCb},</if>
            <if test="actualZcCb != null">actual_zc_cb = #{actualZcCb},</if>
            <if test="actualZlqCb != null">actual_zlq_cb = #{actualZlqCb},</if>
            <if test="actualEwCb != null">actual_ew_cb = #{actualEwCb},</if>
            <if test="contractPrice != null">contractPrice = #{contractPrice},</if>
            <if test="actualContractprice != null">actual_contractPrice = #{actualContractprice},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="actualProfit != null">actual_profit = #{actualProfit},</if>
            <if test="actualBengtouCb != null">actualBengtouCb = #{actualBengtouCb},</if>
            <if test="actualWghj != null">actualWghj = #{actualWghj},</if>
            <if test="sumPrice != null">sumPrice = #{sumPrice},</if>
            <if test="actualAllSumPrice != null">actualAllSumPrice = #{actualAllSumPrice},</if>
            <if test="rinseCose != null">rinse_cose = #{rinseCose}</if>
        </trim>
        where quotation_id = #{quotationId}
    </update>

    <delete id="deleteBusiPriceDetailsById" parameterType="Long">
        delete from busi_price_details where quotation_id = #{priceDetailsId}
    </delete>

    <delete id="deleteBusiPriceDetailsByIds" parameterType="String">
        delete from busi_price_details where price_details_id in
        <foreach item="priceDetailsId" collection="array" open="(" separator="," close=")">
            #{priceDetailsId}
        </foreach>
    </delete>

</mapper>
