<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiQuotationMapper">

    <resultMap type="BusiQuotation" id="BusiQuotationResult">
        <result property="quotationId"    column="quotation_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectAddress"    column="project_address"    />
        <result property="quotationNo"    column="quotation_no"    />
        <result property="customerId"    column="customer_id"    />
        <result property="officeAddress"    column="office_address"    />
        <result property="officeStaffName"    column="office_staff_name"    />
        <result property="technicalStaffId"    column="technical_staff_id"    />
        <result property="technicalStaffName"    column="technicalStaffName"    />
        <result property="quotationType"    column="quotation_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerIndustry"    column="customer_industry"    />
        <result property="customerAddress"    column="customer_address"    />
        <result property="staffId"    column="staff_id"    />
    </resultMap>

    <sql id="selectBusiQuotationVo">
     SELECT
                *
                FROM
                busi_quotation bq
    </sql>

    <select id="selectBusiQuotationList" parameterType="BusiQuotation" resultMap="BusiQuotationResult">
        SELECT
        bq.quotation_id,
        bq.project_name,
        bq.project_address,
        bq.quotation_no,
        bq.customer_id,
        bq.staff_id,
        (SELECT bc.customer_name FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_name,
        (SELECT bc.customer_industry FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_industry,
        (SELECT bc.contact_address FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_address,
        os.office_address,
        os.office_staff_name,
        bq.technical_staff_id,
        (SELECT bt.`technicist_name` FROM busi_technicist bt WHERE bt.`technicist_id` = bq.`technical_staff_id` ) AS technicalStaffName,
        bq.quotation_type,
        bq.create_time,
        (SELECT COUNT(1) FROM busi_contract bi WHERE bi.`qutation_id` = bq.`quotation_id`)   AS isSing,
        (SELECT SUM(bpd.number) FROM busi_quotation_details bpd WHERE bpd.quotation_id = bq.quotation_id) AS wholeCount ,
        (SELECT SUM(bod.number) FROM busi_outsourcing_details bod WHERE bod.quotation_id = bq.quotation_id) AS outsourcingCount ,
        (SELECT SUM(bp.number) FROM busi_parts_details bp WHERE bp.quotation_id = bq.quotation_id) AS partsCount,
        (SELECT SUM(bpd.details_price * bpd.number * bpd.coefficient) FROM busi_quotation_details bpd WHERE bpd.quotation_id = bq.quotation_id) AS quotationPrice ,
        (SELECT SUM(bod.details_price * bod.number * bod.coefficient) FROM busi_outsourcing_details bod WHERE bod.quotation_id = bq.quotation_id) AS outsourcingPrice ,
        (SELECT SUM(bp.details_price* bp.number * bp.coefficient) FROM busi_parts_details bp WHERE bp.quotation_id = bq.quotation_id) AS partsPrice
        FROM
        busi_quotation bq
        LEFT JOIN  busi_customer bc1  ON bq.`customer_id` = bc1.`customer_id`
        LEFT JOIN `office_staff` os ON os.`office_staff_id` = bq.`staff_id`
        <where>
            <if test="projectName != null  and projectName != ''"> and bq.project_name like concat('%', #{projectName}, '%')</if>
            <if test="quotationNo != null  and quotationNo != ''"> and bq.quotation_no = #{quotationNo}</if>
            <if test="quotationType != null "> and bq.quotation_type = #{quotationType}</if>
            <if test="customerName != null "> and bc1.customer_name like concat('%', #{customerName}, '%')</if>
            <if test="officeStaffName != null "> and os.office_staff_name like concat('%', #{officeStaffName}, '%')</if>
            <if test="customerAddress != null "> and bc1.contact_address like concat('%', #{customerAddress}, '%')</if>
            <if test="customerIndustry != null "> and bc1.customer_industry like concat('%', #{customerIndustry}, '%')</if>
            <if test="projectAddress != null "> and bq.project_address like concat('%', #{projectAddress}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                and bq.date_format(create_time,'%y-%m-%d') &gt;= date_format(#{params.beginCreateTime},'%y-%m-%d')
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                and bq.date_format(create_time,'%y-%m-%d')&lt;=  date_format(#{params.endCreateTime},'%y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectBusiQuotationById" parameterType="Long" resultMap="BusiQuotationResult">
   SELECT
        bq.quotation_id,
        bq.project_name,
        bq.project_address,
        bq.quotation_no,
        bq.customer_id,
          bq.staff_id,
        (SELECT bc.customer_name FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_name,
        (SELECT bc.customer_industry FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_industry,
        (SELECT bc.contact_address FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_address,
        bq.office_address,
        bq.office_staff_name,
        bq.technical_staff_id,
        (SELECT bt.`technicist_name` FROM busi_technicist bt WHERE bt.`technicist_id` = bq.`technical_staff_id` ) AS technicalStaffName,
        bq.quotation_type,
        bq.create_time,
       (SELECT SUM(bpd.number) FROM busi_quotation_details bpd WHERE bpd.quotation_id = bq.quotation_id) AS wholeCount ,
        (SELECT SUM(bod.number) FROM busi_outsourcing_details bod WHERE bod.quotation_id = bq.quotation_id) AS outsourcingCount ,
        (SELECT SUM(bp.number) FROM busi_parts_details bp WHERE bp.quotation_id = bq.quotation_id) AS partsCount,
        (SELECT SUM(bpd.details_price) FROM busi_quotation_details bpd WHERE bpd.quotation_id = bq.quotation_id) AS quotationPrice ,
        (SELECT SUM(bod.details_price) FROM busi_outsourcing_details bod WHERE bod.quotation_id = bq.quotation_id) AS outsourcingPrice ,
        (SELECT SUM(bp.details_price) FROM busi_parts_details bp WHERE bp.quotation_id = bq.quotation_id) AS partsPrice/* ,
       IFNULL(ROUND(SUM(bqd.details_price*bqd.coefficient * bqd.number),2),0) AS quotationPrice,
        IFNULL(ROUND(SUM(bod.details_price*bod.coefficient * bod.number),2),0) AS outsourcingPrice,
        IFNULL(ROUND(SUM(bpd.details_price * bpd.number),2),0) AS partsPrice,
        SUM(IFNULL(bqd.`number`,0)+IFNULL(bod.`number`,0)+IFNULL(bpd.number,0)) AS  allCount*/
        FROM
        busi_quotation bq
 /*       LEFT JOIN busi_quotation_details bqd ON bqd.`quotation_id`  = bq.`quotation_id`
        LEFT JOIN busi_outsourcing_details bod ON bod.`quotation_id`  = bq.`quotation_id`
        LEFT JOIN busi_parts_details bpd  ON bpd.`quotation_id` = bq.`quotation_id`*/
        where bq.quotation_id = #{quotationId}
    </select>

    <select id="selectBusiQuotationByIdOnlyId" parameterType="Long" resultMap="BusiQuotationResult">
        SELECT bq.quotation_no  from    busi_quotation bq   where bq.quotation_id = #{quotationId}
    </select>

    <select id="selectEndCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM  busi_quotation where province =#{province}
    </select>



    <insert id="insertBusiQuotation" parameterType="BusiQuotation" useGeneratedKeys="true" keyProperty="quotationId">
        insert into busi_quotation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectAddress != null and projectAddress != ''">project_address,</if>
            <if test="quotationNo != null and quotationNo != ''">quotation_no,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="officeAddress != null and officeAddress != ''">office_address,</if>
            <if test="officeStaffName != null and officeStaffName != ''">office_staff_name,</if>
            <if test="technicalStaffId != null">technical_staff_id,</if>
            <if test="quotationType != null">quotation_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="staffId != null">staff_id,</if>
            <if test="province != null">province,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectAddress != null and projectAddress != ''">#{projectAddress},</if>
            <if test="quotationNo != null and quotationNo != ''">#{quotationNo},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="officeAddress != null and officeAddress != ''">#{officeAddress},</if>
            <if test="officeStaffName != null and officeStaffName != ''">#{officeStaffName},</if>
            <if test="technicalStaffId != null">#{technicalStaffId},</if>
            <if test="quotationType != null">#{quotationType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="staffId != null">#{staffId},</if>
            <if test="province != null">#{province},</if>
         </trim>
    </insert>

    <update id="updateBusiQuotation" parameterType="BusiQuotation">
        update busi_quotation
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectAddress != null and projectAddress != ''">project_address = #{projectAddress},</if>
            <if test="quotationNo != null and quotationNo != ''">quotation_no = #{quotationNo},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="officeAddress != null and officeAddress != ''">office_address = #{officeAddress},</if>
            <if test="officeStaffName != null and officeStaffName != ''">office_staff_name = #{officeStaffName},</if>
            <if test="technicalStaffId != null">technical_staff_id = #{technicalStaffId},</if>
            <if test="quotationType != null">quotation_type = #{quotationType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="staffId != null">staff_id = #{staffId},</if>
        </trim>
        where quotation_id = #{quotationId}
    </update>

    <delete id="deleteBusiQuotationById" parameterType="Long">
        delete from busi_quotation where quotation_id = #{quotationId}
    </delete>

    <delete id="deleteBusiQuotationByIds" parameterType="String">
        delete from busi_quotation where quotation_id in
        <foreach item="quotationId" collection="array" open="(" separator="," close=")">
            #{quotationId}
        </foreach>
    </delete>


    <select id="selectModelById" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT
        '整机' AS type, (SELECT CONCAT(bpm.model_name,'-',ifnull(bqd.`material_name`,'')) FROM busi_product_model bpm WHERE bpm.model_id = bqd.model_id) AS modelName ,
        ROUND(bqd.`details_price`*bqd.`coefficient`,2) AS price,
        bqd.`number`
         FROM busi_quotation_details bqd  WHERE bqd.`quotation_id` =  #{quotationId}
        UNION ALL
        SELECT
           '外购' AS type,   (SELECT CONCAT(bo.outsourcing_model,'-',bo.`outsourcing_material` )FROM busi_outsourcing bo WHERE bo.outsourcing_id = bod.model_id ) AS modelName,
        ROUND(bod.`details_price`*bod.`coefficient`,2) AS price,
        bod.number
        FROM busi_outsourcing_details bod WHERE bod.`quotation_id` =  #{quotationId}
    </select>


    <select id="selectPartsModelById" resultType="java.util.Map" parameterType="java.lang.Long">
        SELECT  '配件' AS TYPE, (SELECT model_name FROM busi_product_model bpm WHERE bpm.model_id = bpd.model_id) AS modelName,
        (SELECT bpp.`item_number` FROM `busi_product_parameter` bpp WHERE bpp.`parameter_id` = bpd.`parameter_id`) AS parameterName,
        (SELECT bt.texture_name FROM busi_material_production bmp
        LEFT JOIN  busi_texture bt ON bmp.`texture_id` = bt.texture_id
        WHERE bmp.material_id = bpd.material_id) AS texture_name,
    ROUND(bpd.`details_price`*bpd.`coefficient`,2) AS price,
    bpd.`number`
     FROM busi_parts_details bpd WHERE bpd.`quotation_id` = #{quotationId}


    </select>


</mapper>
