<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiMaterialProductionMapper">

    <resultMap type="BusiMaterialProduction" id="BusiMaterialProductionResult">
        <result property="materialId"    column="material_id"    />
        <!--<result property="materialName"    column="material_name"    />-->
        <result property="materialLevel"    column="material_level"    />
        <result property="textureId"    column="texture_id"    />
       <!-- <result property="form"    column="form"    />-->
        <result property="price"    column="price"    />
        <result property="supplierId"    column="supplier_id"    />
    </resultMap>

    <sql id="selectBusiMaterialProductionVo">
         SELECT bmp.material_id, bmp.texture_id,bmp.material_level, bmp.price,bmp.supplier_id ,bmp.texture_id ,bt.texture_name AS materialName ,bt.texture_type   AS form,   bt.`mass_ratio` AS massRatio
            FROM busi_material_production bmp LEFT JOIN busi_texture bt ON bmp.texture_id = bt.texture_id
    </sql>

    <select id="selectBusiMaterialProductionList" parameterType="BusiMaterialProduction" resultMap="BusiMaterialProductionResult">
        <include refid="selectBusiMaterialProductionVo"/>
        <where>
            <if test="materialLevel != null "> and bmp.material_level = #{materialLevel}</if>
            <if test="materialName != null "> and bt.texture_name like  concat('%', #{materialName}, '%') </if>
            <if test="supplierId != null "> and bmp.supplier_id = #{supplierId}</if>
        </where>
    </select>


    <select id="selectBusiMaterialProductionListExport" parameterType="BusiMaterialProduction" resultMap="BusiMaterialProductionResult">
        SELECT bmp.material_id, bmp.texture_id,bmp.material_level, bmp.price,bmp.supplier_id ,bmp.texture_id ,bt.texture_name AS materialName ,bt.texture_type   AS form,   bt.`mass_ratio` AS massRatio
        ,ms.`material_name` as supplierName
        FROM busi_material_production bmp
        LEFT JOIN busi_texture bt ON bmp.texture_id = bt.texture_id
        INNER JOIN `material_supplier` ms ON ms.`supplier_id` =  bmp.`supplier_id`
        <where>
            <if test="materialLevel != null "> and bmp.material_level = #{materialLevel}</if>
            <if test="materialName != null "> and bt.texture_name like  concat('%', #{materialName}, '%') </if>
            <if test="supplierId != null "> and bmp.supplier_id = #{supplierId}</if>
        </where>
    </select>




    <select id="selectBusiMaterialProductionById" parameterType="Long" resultMap="BusiMaterialProductionResult">
        <include refid="selectBusiMaterialProductionVo"/>
        where bmp.material_id = #{materialId}
    </select>

    <insert id="insertBusiMaterialProduction" parameterType="BusiMaterialProduction" useGeneratedKeys="true" keyProperty="materialId">
        insert into busi_material_production
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialLevel != null">material_level,</if>
            <if test="price != null">price,</if>
            <if test="supplierId != null ">supplier_id,</if>
            <if test="textureId != null ">texture_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialLevel != null">#{materialLevel},</if>
            <if test="price != null">#{price},</if>
            <if test="supplierId != null ">#{supplierId},</if>
            <if test="textureId != null ">#{textureId},</if>
         </trim>
    </insert>

    <update id="updateBusiMaterialProduction" parameterType="BusiMaterialProduction">
        update busi_material_production
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialLevel != null">material_level = #{materialLevel},</if>
            <if test="price != null">price = #{price},</if>
            <if test="supplierId != null ">supplier_id = #{supplierId},</if>
            <if test="textureId != null ">texture_id = #{textureId},</if>
        </trim>
        where material_id = #{materialId}
    </update>

    <delete id="deleteBusiMaterialProductionById" parameterType="Long">
        delete from busi_material_production where material_id = #{materialId}
    </delete>

    <delete id="deleteBusiMaterialProductionByIds" parameterType="String">
        delete from busi_material_production where material_id in
        <foreach item="materialId" collection="array" open="(" separator="," close=")">
            #{materialId}
        </foreach>
    </delete>


</mapper>
