<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiQuotationMapper">

    <resultMap type="BusiQuotation" id="BusiQuotationResult">
        <result property="quotationId"    column="quotation_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectAddress"    column="project_address"    />
        <result property="quotationNo"    column="quotation_no"    />
        <result property="customerId"    column="customer_id"    />
        <result property="officeAddress"    column="office_address"    />
        <result property="officeStaffName"    column="office_staff_name"    />
        <result property="technicalStaffId"    column="technical_staff_id"    />
        <result property="technicalStaffName"    column="technicalStaffName"    />

        <result property="quotationType"    column="quotation_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerIndustry"    column="customer_industry"    />
        <result property="customerAddress"    column="customer_address"    />
        <result property="staffId"    column="staff_id"    />
    </resultMap>

    <sql id="selectBusiQuotationVo">
     SELECT
                *
                FROM
                busi_quotation bq
    </sql>

    <select id="selectBusiQuotationList" parameterType="BusiQuotation" resultMap="BusiQuotationResult">
        SELECT
        bq.quotation_id,
        bq.project_name,
        bq.project_address,
        bq.quotation_no,
        bq.customer_id,
        bq.staff_id,
        (SELECT bc.customer_name FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_name,
        (SELECT bc.customer_industry FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_industry,
        (SELECT bc.contact_address FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_address,
        bq.office_address,
        bq.office_staff_name,
        bq.technical_staff_id,
        (SELECT bt.`technicist_name` FROM busi_technicist bt WHERE bt.`technicist_id` = bq.`technical_staff_id` ) AS technicalStaffName,
        bq.quotation_type,
        bq.create_time
        FROM
        busi_quotation bq
        <where>
            <if test="projectName != null  and projectName != ''"> and bq.project_name like concat('%', #{projectName}, '%')</if>
            <if test="quotationNo != null  and quotationNo != ''"> and bq.quotation_no = #{quotationNo}</if>
            <if test="quotationType != null "> and bq.quotation_type = #{quotationType}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                and bq.date_format(create_time,'%y-%m-%d') &gt;= date_format(#{params.beginCreateTime},'%y-%m-%d')
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                and bq.date_format(create_time,'%y-%m-%d')&lt;=  date_format(#{params.endCreateTime},'%y-%m-%d')
            </if>
        </where>
    </select>

    <select id="selectBusiQuotationById" parameterType="Long" resultMap="BusiQuotationResult">
   SELECT
        bq.quotation_id,
        bq.project_name,
        bq.project_address,
        bq.quotation_no,
        bq.customer_id,
          bq.staff_id,
        (SELECT bc.customer_name FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_name,
        (SELECT bc.customer_industry FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_industry,
        (SELECT bc.contact_address FROM busi_customer bc WHERE bc.customer_id = bq.customer_id) AS customer_address,
        bq.office_address,
        bq.office_staff_name,
        bq.technical_staff_id,
        (SELECT bt.`technicist_name` FROM busi_technicist bt WHERE bt.`technicist_id` = bq.`technical_staff_id` ) AS technicalStaffName,
        bq.quotation_type,
        bq.create_time/* ,
       IFNULL(ROUND(SUM(bqd.details_price*bqd.coefficient * bqd.number),2),0) AS quotationPrice,
        IFNULL(ROUND(SUM(bod.details_price*bod.coefficient * bod.number),2),0) AS outsourcingPrice,
        IFNULL(ROUND(SUM(bpd.details_price * bpd.number),2),0) AS partsPrice,
        SUM(IFNULL(bqd.`number`,0)+IFNULL(bod.`number`,0)+IFNULL(bpd.number,0)) AS  allCount*/
        FROM
        busi_quotation bq
 /*       LEFT JOIN busi_quotation_details bqd ON bqd.`quotation_id`  = bq.`quotation_id`
        LEFT JOIN busi_outsourcing_details bod ON bod.`quotation_id`  = bq.`quotation_id`
        LEFT JOIN busi_parts_details bpd  ON bpd.`quotation_id` = bq.`quotation_id`*/
        where bq.quotation_id = #{quotationId}
    </select>

    <select id="selectEndCount" resultType="java.lang.Integer">
        select quotation_id from  busi_quotation order by quotation_id desc limit 1
    </select>


    <insert id="insertBusiQuotation" parameterType="BusiQuotation" useGeneratedKeys="true" keyProperty="quotationId">
        insert into busi_quotation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectAddress != null and projectAddress != ''">project_address,</if>
            <if test="quotationNo != null and quotationNo != ''">quotation_no,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="officeAddress != null and officeAddress != ''">office_address,</if>
            <if test="officeStaffName != null and officeStaffName != ''">office_staff_name,</if>
            <if test="technicalStaffId != null">technical_staff_id,</if>
            <if test="quotationType != null">quotation_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="staffId != null">staff_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectAddress != null and projectAddress != ''">#{projectAddress},</if>
            <if test="quotationNo != null and quotationNo != ''">#{quotationNo},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="officeAddress != null and officeAddress != ''">#{officeAddress},</if>
            <if test="officeStaffName != null and officeStaffName != ''">#{officeStaffName},</if>
            <if test="technicalStaffId != null">#{technicalStaffId},</if>
            <if test="quotationType != null">#{quotationType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="staffId != null">#{staffId},</if>
         </trim>
    </insert>

    <update id="updateBusiQuotation" parameterType="BusiQuotation">
        update busi_quotation
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectAddress != null and projectAddress != ''">project_address = #{projectAddress},</if>
            <if test="quotationNo != null and quotationNo != ''">quotation_no = #{quotationNo},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="officeAddress != null and officeAddress != ''">office_address = #{officeAddress},</if>
            <if test="officeStaffName != null and officeStaffName != ''">office_staff_name = #{officeStaffName},</if>
            <if test="technicalStaffId != null">technical_staff_id = #{technicalStaffId},</if>
            <if test="quotationType != null">quotation_type = #{quotationType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="staffId != null">staff_id = #{staffId},</if>
        </trim>
        where quotation_id = #{quotationId}
    </update>

    <delete id="deleteBusiQuotationById" parameterType="Long">
        delete from busi_quotation where quotation_id = #{quotationId}
    </delete>

    <delete id="deleteBusiQuotationByIds" parameterType="String">
        delete from busi_quotation where quotation_id in
        <foreach item="quotationId" collection="array" open="(" separator="," close=")">
            #{quotationId}
        </foreach>
    </delete>

</mapper>
