<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busi.mapper.BusiProductParameterMapper">

    <resultMap type="BusiProductParameter" id="BusiProductParameterResult">
        <result property="parameterId"    column="parameter_id"    />
        <result property="itemNumber"    column="item_number"    />
    <!--    <result property="material"    column="material"    />
        <result property="materialForm"    column="material_form"    />-->
        <result property="weight"    column="weight"    />
        <result property="time"    column="time"    />
        <result property="isCurrent"    column="is_current"    />
        <result property="modelId"    column="model_id"    />
        <result property="textureId"    column="texture_id"    />
        <result property="number"    column="number"    />
    </resultMap>

    <sql id="selectBusiProductParameterVo">
           SELECT parameter_id, item_number, weight, TIME, is_current, model_id  , bpp.texture_id,texture_name AS material , number,texture_type  AS materialForm
           FROM busi_product_parameter  bpp LEFT JOIN busi_texture bt ON bpp.texture_id = bt.texture_id
    </sql>

    <select id="selectBusiProductParameterList" parameterType="BusiProductParameter" resultMap="BusiProductParameterResult">
        <include refid="selectBusiProductParameterVo"/>
        <where>
            <if test="itemNumber != null  and itemNumber != ''"> and bpp.tem_number like concat('%', #{itemNumber}, '%')</if>
            <if test="material != null  and material != ''"> and bt.texture_name like concat('%', #{material}, '%')</if>
            <if test="materialForm != null  and materialForm != ''"> and bt.texture_type like concat('%', #{materialForm}, '%')</if>
            <if test="isCurrent != null "> and is_current = #{isCurrent}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
        </where>
    </select>



    <select id="selectBusiProductParameterListExport" parameterType="BusiProductParameter" resultMap="BusiProductParameterResult">
        SELECT bpp.* ,texture_name AS material , texture_type  AS materialForm ,bpm.`model_name` AS modelName
        FROM busi_product_parameter  bpp LEFT JOIN busi_texture bt ON bpp.texture_id = bt.texture_id
        INNER JOIN busi_product_model bpm ON bpp.`model_id` = bpm.`model_id`
        <where>
            <if test="itemNumber != null  and itemNumber != ''"> and bpp.tem_number like concat('%', #{itemNumber}, '%')</if>
            <if test="material != null  and material != ''"> and bt.texture_name like concat('%', #{material}, '%')</if>
            <if test="materialForm != null  and materialForm != ''"> and bt.texture_type like concat('%', #{materialForm}, '%')</if>
            <if test="isCurrent != null "> and bpp.is_current = #{isCurrent}</if>
            <if test="modelId != null "> and bpp.model_id = #{modelId}</if>
        </where>
    </select>


    <select id="selectPriceDetil" parameterType="java.lang.Long" resultType="com.ruoyi.busi.domain.PriceSum">
          SELECT bpp.*, bpp.weight ,bt.`mass_ratio` AS massRatio ,bmp.`price` AS materialPrice,bpp.time
        FROM   `busi_product_parameter` bpp  LEFT JOIN  busi_texture bt ON bpp.`texture_id` = bt.`texture_id`
        LEFT JOIN `busi_material_production` bmp ON bt.`texture_id` = bmp.`texture_id`
        WHERE bpp.parameter_id = #{parameterId} limit 1
    </select>

    <select id="selectBusiProductParameterById" parameterType="Long" resultMap="BusiProductParameterResult">
        <include refid="selectBusiProductParameterVo"/>
        where bpp.parameter_id = #{parameterId}
    </select>

    <insert id="insertBusiProductParameter" parameterType="BusiProductParameter" useGeneratedKeys="true" keyProperty="parameterId">
        insert into busi_product_parameter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemNumber != null and itemNumber != ''">item_number,</if>
            <if test="weight != null">weight,</if>
            <if test="time != null">time,</if>
            <if test="isCurrent != null">is_current,</if>
            <if test="modelId != null">model_id,</if>
            <if test="textureId != null">texture_id,</if>
            <if test="number != null">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemNumber != null and itemNumber != ''">#{itemNumber},</if>
            <if test="weight != null">#{weight},</if>
            <if test="time != null">#{time},</if>
            <if test="isCurrent != null">#{isCurrent},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="textureId != null">#{textureId},</if>
            <if test="number != null">#{number},</if>
         </trim>
    </insert>

    <update id="updateBusiProductParameter" parameterType="BusiProductParameter">
        update busi_product_parameter
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemNumber != null and itemNumber != ''">item_number = #{itemNumber},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="time != null">time = #{time},</if>
            <if test="isCurrent != null">is_current = #{isCurrent},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="textureId != null">texture_id = #{textureId},</if>
            <if test="number != null">number = #{number},</if>
        </trim>
        where parameter_id = #{parameterId}
    </update>

    <delete id="deleteBusiProductParameterById" parameterType="Long">
        delete from busi_product_parameter where parameter_id = #{parameterId}
    </delete>

    <delete id="deleteBusiProductParameterByIds" parameterType="String">
        delete from busi_product_parameter where parameter_id in
        <foreach item="parameterId" collection="array" open="(" separator="," close=")">
            #{parameterId}
        </foreach>
    </delete>

</mapper>
