<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报价明细列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input name="quotationId" id="quotationId" th:value="${quotationId}" type="hidden">
                        <ul>
                            <li>
                                <label>类型：</label>
                                <select name="supplierLevel"  class="supplierLevel" onchange="toOutsourcing()">
                                    <option value="">整机</option>
                                    <option value="outsourcing"  th:if="${sumOutsourcingPrice != null}">外购</option>
                                    <option value="parts"  th:if="${partsPrice != null}">配件</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="chooseType()" shiro:hasPermission="busi:details:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="busi:details:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="busi:details:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="busi:details:export">
                    <i class="fa fa-download"></i> 导出所有
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>

            <div class="col-sm-3 search-collapse" >
              <small> 整机报价合计金额:</small>   <small id="sumPrice" th:text="${sumPrice}"></small>
              <small> 整机报价合计数量:</small>   <small  th:text="${quotation.wholeCount}"></small>
              <br>
              <small  th:if="${quotationFlag != null}"> 外购报价合计金额:</small><small id="sumOutsourcingPrice"  th:text="${sumOutsourcingPrice}"></small>
              <small th:if="${quotationFlag != null}"> 外购报价合计数量:</small><small th:if="${quotationFlag != null}" th:text="${quotation.outsourcingCount}"></small>
              <br>
              <small th:if="${partsFlag != null}"> 配件报价合计金额:</small><small id="quotationPrice"   th:text="${partsPrice}"></small>
              <small th:if="${partsFlag != null}"> 配件报价合计数量:</small><small   th:if="${partsFlag != null}"  th:text="${quotation.partsCount}"></small>
            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('busi:details:edit')}]];
        var removeFlag = [[${@permission.hasPermi('busi:details:remove')}]];
        var project_type = [[${@dict.getType('project_type')}]];
        var prefix = ctx + "busi/details";
        var supplierId = $("#supplierId").val();
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add?supplierId="+supplierId,
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "报价明细",
                columns: [{
                    radio: true
                },
                {
                    field: 'detailsId',
                    title: '',
                    visible: false
                },
                {
                    field: 'equipmentNum',
                    align: 'center',
                    title: '设备位号'
                },
                {
                    field: 'equipmentName',
                    align: 'center',
                    title: '设备名称'
                },
                {
                    field: 'quotationType',
                    title: '报价类型',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(project_type, value);
                    }
                },
                {
                    field: 'number',
                    align: 'center',
                    title: '数量'
                },
                {
                    field: 'productLineName',
                    align: 'center',
                    title: '产品系列'
                },
                {
                    field: 'modelName',
                    align: 'center',
                    title: '产品规格型号'
                },
                {
                    field: 'materialName',
                    align: 'center',
                    title: '过流部件材质'
                },
                {
                    field: 'ratedFlow',
                    align: 'center',
                    title: '额定流量(m3/h)'
                },
                {
                    field: 'lift',
                    align: 'center',
                    title: '扬程(m)'
                },
                {
                    field: 'operatingTemperature',
                    align: 'center',
                    title: '工况温度(℃)'
                },
                {
                    field: 'fluidDensity',
                    align: 'center',
                    title: '流体密度(Kg/m³)'
                },
                {
                    field: 'inletPressure',
                    align: 'center',
                    title: '入口压力(Mpa)'
                },
                {
                    field: 'npsh',
                    align: 'center',
                    title: '汽蚀余量(m)'
                },
                {
                    field: 'motorSupplierId',
                    align: 'center',
                    title: '电机品牌'
                },
                {
                    field: 'motorName',
                    align: 'center',
                    title: '电机型号'
                },
                {
                    field: 'rinseSolutionId',
                    align: 'center',
                    title: '冲洗方案'
                },
                {
                    field: 'detailsPrice',
                    align: 'center',
                    title: '基准单价'
                },
                {
                    title: '调整单价',
                    formatter: function(value, row, index) {
                        var num = row.coefficient * row.detailsPrice;
                        return num.toFixed(2);
                    }
                },
                {
                    field: 'coefficient',
                    title: '调整系数'
                },
                {
                    title: '总价',
                    formatter: function(value, row, index) {
                        var num = row.coefficient * row.detailsPrice * row.number;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '成本',
                    formatter: function(value, row, index) {
                        var num = row.allCost;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '泵头成本',
                    formatter: function(value, row, index) {
                        var num = row.pumpHeadCost;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '电机成本',
                    formatter: function(value, row, index) {
                        var num = row.motorCost;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '机封成本',
                    formatter: function(value, row, index) {
                        var num = row.sealCost;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '系统成本',
                    formatter: function(value, row, index) {
                        var num = row.rinseCost;
                        return  num.toFixed(2);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        /*actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.detailsId + '\')"><i class="fa fa-eye"></i>查看</a> ');*/
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.detailsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.detailsId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function chooseType(){
            var quotationId = $("#quotationId").val();
            $.modal.openFull("添加报价单明细",ctx+"busi/details/add?quotationId="+quotationId)
        }

        function toOutsourcing(){
            var type = $(".supplierLevel").val();
            var quotationId = $("#quotationId").val();
            if(type == 'outsourcing'){
                window.location.href = ctx + "busi/details/toOutsourcingDetils?quotationId="+quotationId;
            }else if (type == 'parts'){
                window.location.href = ctx + "parts/parts?quotationId="+quotationId;
            }


        }







    </script>
</body>
</html>
