<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改报价明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-details-edit" th:object="${busiQuotationDetails}">
            <input name="detailsId" th:field="*{detailsId}" type="hidden">
            <input name="quotationId" th:field="*{quotationId}" class="form-control" type="hidden" >

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">设备位号：</label>
                <div class="col-sm-8">
                    <input name="equipmentNum" th:field="*{equipmentNum}" class="form-control" type="text"  required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">设备名称：</label>
                <div class="col-sm-8">
                    <input name="equipmentName" th:field="*{equipmentName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品系列：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectProductLine()" id="productLineName" th:field="*{productLineName}" readonly="true" required>
                        <input name="productLineId" id="productLineId" th:field="*{productLineId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品规格型号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectProductModel()" th:field="*{modelName}" id="modelName" readonly="true" required>
                        <input name="modelId" id="modelId" th:field="*{modelId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label is-required">非过流部件品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('baseMaterial')" th:field="*{baseMaterialSupplierName}" id="baseMaterialSupplierName" readonly="true" required>
                        <input name="baseMaterialSupplierId" id="baseMaterialSupplierId" th:field="*{baseMaterialSupplierId}"  type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">过流部件品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('material')" id="materialSupplierName" th:field="*{materialSupplierName}" readonly="true" >
                        <input name="materialSupplierId" id="materialSupplierId" th:field="*{materialSupplierId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>



           <!-- <div class="form-group">
                <label class="col-sm-3 control-label is-">过流部件材质：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectMateria()" id="materialName" th:field="*{materialName}" readonly="true" >
                        <input name="materialId" id="materialId" th:field="*{materialId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">过流部件材质：</label>
                <div class="col-sm-8">
                    <!-- <div class="input-group">
                       <input class="form-control" type="text" onclick="selectMateria()" id="materialName" readonly="true" required>
                        <input name="materialId" id="materialId" th:value="${materialId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>-->
                    <input name="materialName" th:field="*{materialName}" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label is-">数量：</label>
                <div class="col-sm-8">
                    <input name="number" th:field="*{number}" class="form-control" type="text" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">系统冲洗方案供应商：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('rinse')" id="rinseSupplierName"  th:field="*{rinseSupplierName}" readonly="true" required>
                        <input name="rinseSupplierId" id="rinseSupplierId" th:field="*{rinseSupplierId}"  type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">冲洗方案：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectRinse()" id="rinseName" th:field="*{rinseName}"   readonly="true" required>
                        <input name="rinseId" id="rinseId" th:field="*{rinseId}"   type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">额定流量(m3/h)：</label>
                <div class="col-sm-8">
                    <input name="ratedFlow" th:field="*{ratedFlow}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">扬程(m)：</label>
                <div class="col-sm-8">
                    <input name="lift" class="form-control" type="text" th:field="*{lift}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">工况温度(℃)：</label>
                <div class="col-sm-8">
                    <input name="operatingTemperature" class="form-control" type="text" th:field="*{operatingTemperature}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">流体密度(Kg/m³)：</label>
                <div class="col-sm-8">
                    <input name="fluidDensity" class="form-control" type="text" th:field="*{fluidDensity}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">入口压力(Mpa)：</label>
                <div class="col-sm-8">
                    <input name="inletPressure" class="form-control" type="text" th:field="*{inletPressure}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">汽蚀余量(m)：</label>
                <div class="col-sm-8">
                    <input name="npsh" class="form-control" type="text"  th:field="*{npsh}">
                </div>
            </div>
           <!-- <div class="form-group">
                <label class="col-sm-3 control-label">电机品牌：</label>
                <div class="col-sm-8">
                    <input name="motorSupplierId" th:field="*{motorSupplierId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">电机型号：</label>
                <div class="col-sm-8">
                    <input name="motorId" th:field="*{motorId}" class="form-control" type="text">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">电机品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('motor')" id="motorSupplierName" th:field="*{motorSupplierName}" readonly="true" >
                        <input name="motorSupplierId" id="motorSupplierId"  th:field="*{motorSupplierId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">电机型号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectMotor()" id="motorName"   th:field="*{motorName}"  readonly="true" >
                        <input name="motorId" id="motorId"   th:field="*{motorId}"  type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他电机：</label>
                <div class="col-sm-8">
                    <input name="otherMotor"  th:field="*{otherMotor}" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他电机价格：</label>
                <div class="col-sm-8">
                    <input name="otherMotorPrice"  th:field="*{otherMotorPrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">机封品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('seal')" id="machineSupplierName"  th:field="*{machineSupplierName}" readonly="true" >
                        <input name="machineSupplierId" id="machineSupplierId" th:field="*{machineSupplierId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">机封型号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectMachine()" id="machineName" readonly="true" >
                        <input name="machineId" id="machineId"  th:field="*{machineId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他机封：</label>
                <div class="col-sm-8">
                    <input name="otherMachine"  th:field="*{otherMachine}"  class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他机封价格：</label>
                <div class="col-sm-8">
                    <input name="otherMachinePrice" th:field="*{otherMachinePrice}"   class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">轴承品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('bearing')" id="bearingSupplierName" th:field="*{bearingSupplierName}"  readonly="true" >
                        <input name="bearingSupplierId" id="bearingSupplierId" th:value="${bearingSupplierId}" th:field="*{bearingSupplierId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">轴承型号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectBearing()" id="bearingName" th:field="*{bearingName}" readonly="true" >
                        <input name="bearingId" id="bearingId"  th:field="*{bearingId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">其他轴承：</label>
                <div class="col-sm-8">
                    <input name="otherBearing"  th:field="*{otherBearingSupplier}" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他轴承价格：</label>
                <div class="col-sm-8">
                    <input name="otherBearingPrice"  th:field="*{otherBearingPrice}" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">联轴器品牌：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectSupplier('coupling')" id="couplingSupplierName" th:field="*{couplingSupplierName}"  readonly="true" >
                        <input name="couplingSupplierId" id="couplingSupplierId"  th:field="*{couplingSupplierId}" type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联轴器型号：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" onclick="selectCoupling()" id="couplingName"  th:field="*{couplingName}" readonly="true" >
                        <input name="couplingId" id="couplingId"   th:field="*{couplingId}"  type="hidden">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他联轴器：</label>
                <div class="col-sm-8">
                    <input name="otherCoupling"   th:field="*{otherCoupling}"  class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">其他联轴器价格：</label>
                <div class="col-sm-8">
                    <input name="otherCouplingPrice"   th:field="*{otherCouplingPrice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">特殊配置费用：</label>
                <div class="col-sm-8">
                    <input name="otherExpenses" th:field="*{otherExpenses}"  class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">特殊配置费用说明：</label>
                <div class="col-sm-8">
                    <input name="otherExpensesDescription" th:field="*{otherExpensesDescription}"  class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">单价系数：</label>
                <div class="col-sm-8">
                    <input name="coefficient" th:field="*{coefficient}"   class="form-control" type="text" >
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "busi/details";
        $("#form-details-edit").validate({
            focusCleanup: true,
            number:{
                isNumber:true
            },
            otherExpenses:{
                isNumber:true
            },
           /* ratedFlow:{
                isNumber:true
            },
            operatingTemperature:{
                isNumber:true
            },
            fluidDensity:{
                isNumber:true
            },
            inletPressure:{
                isNumber:true
            },
            npsh:{
                isNumber:true
            },*/
            otherMotorPrice:{
                isNumber:true
            },
            otherCouplingPrice:{
                isNumber:true
            },
            coefficient:{
                isNumber:true
            },
        });

        function submitHandler() {
            debugger;
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-details-edit').serialize());
            }
        }

        function submitCallback(result){
            parent.$('#sumPrice').html(result.msg)
        }

        function selectProductLine(){
            $.modal.open("选择产品系列", ctx + "busi/line");
        }

        function selectProductModel(){
            var productLineId = $("#productLineId").val();
            if (!productLineId){
                $.modal.alertError("请先选择产品系列");
            }else{
                $.modal.open("选择产品系列", ctx + "busi/model?productLineId="+productLineId);
            }
        }

        function selectSupplier(supplierType){
            if (supplierType == "material") {
                $.modal.open("选择材料品牌", ctx + "busi/supplier?supplierType=" + supplierType);
            }else if (supplierType == "motor"){
                $.modal.open("选择材料品牌", ctx + "busi/supplier?supplierType="+supplierType);
            }else if(supplierType == "seal"){
                $.modal.open("选择机封品牌", ctx + "busi/supplier?supplierType="+supplierType);
            }else if(supplierType == 'coupling'){
                $.modal.open("选择联轴器品牌", ctx + "busi/supplier?supplierType="+supplierType);
            }else if(supplierType == 'bearing'){
                $.modal.open("选择承轴品牌", ctx + "busi/supplier?supplierType="+supplierType);
            }else if(supplierType == 'baseMaterial'){
                $.modal.open("选择承轴品牌", ctx + "busi/supplier?baseType=1&supplierType=material");
            }else if(supplierType == 'rinse'){
                $.modal.open("选择冲洗系统供应商", ctx + "busi/supplier?supplierType=rinse");
            }

        }

        function selectMateria(){
            var materialSupplierId = $("#materialSupplierId").val();
            if(!materialSupplierId){
                $.modal.alertError("请先选择材料品牌");
            }else{
                $.modal.open("选择材料产品", ctx + "busi/production?supplierId="+materialSupplierId);
            }
        }

        function selectMotor(){
            var motorSupplierId = $("#motorSupplierId").val();
            if (!motorSupplierId){
                $.modal.alertError("请先选择电机品牌");
            }else{
                $.modal.open("选择电机产品", ctx + "busi/motor?supplierId="+motorSupplierId);
            }
        }

        function selectMachine(){
            var machineSupplierId = $("#machineSupplierId").val();
            if (!machineSupplierId){
                $.modal.alertError("请先选择机封品牌");
            }else{
                $.modal.open("选择机封产品", ctx + "busi/machine?supplierId="+machineSupplierId);
            }
        }


        function selectCoupling(){
            var couplingSupplierId = $("#couplingSupplierId").val();
            if (!couplingSupplierId){
                $.modal.alertError("请先选择联轴器品牌");
            }else{
                $.modal.open("选择机封产品", ctx + "busi/coupling?supplierId="+couplingSupplierId);
            }
        }


        function  selectBearing() {
            var bearingSupplierId = $("#bearingSupplierId").val();
            if (!bearingSupplierId){
                $.modal.alertError("请先选择承轴器品牌");
            }else{
                $.modal.open("选择承轴产品", ctx + "busi/bearing?supplierId="+bearingSupplierId);
            }
        }


        function selectRinse(){
            var rinseSupplierId = $("#rinseSupplierId").val();
            if (!rinseSupplierId){
                $.modal.alertError("请先虚着呢系统冲洗供应商");
            }else{
                $.modal.open("选择系统冲洗供应商", ctx + "busi/rinse?supplierId="+rinseSupplierId);
            }
        }


    </script>
</body>
</html>
